body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 17, 23);
    color: rgb(240, 246, 252);
    max-width: 40em;
	font-size: 15pt;
    margin: 2px 8px 0px 2px;
}

input, select, button {
    font-size: 15pt;
}

h1, h2 {
    margin-left: 8px;
}

.error {
    color: red;
}

/* Desktop */
@media only screen and (min-width: 860px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Smartphones landscape and portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        margin: 2px 8px 0px 2px;
    }
}

textarea {
    font-size: 12pt;
}

#evaluate-play {
    min-width: 40px;
    max-width: 130px;
    background-color: rgb(45, 47, 49);
    color: rgb(240, 246, 252);
}

/* Needed to get input text length */
#invisible-div {
    width: auto;
    display: inline-block;
    visibility: hidden;
    position: fixed;
    overflow: auto;
}

#new-index-area {
    width: 100%;
    min-height: 310px;
    background-color: rgb(45, 47, 49);
    color: rgb(240, 246, 252);
}

#balance-table {
    border-spacing: 0px;
}

a:link, h1 a.title:link {
	color: rgb(53, 172, 252);
}

a:visited, h1 a.title:visited {
	color: rgb(194, 115, 214);
}

#balance {
    margin-left: 8px;
}